<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="??" lang="??">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Wonders Of Nepal 8N 9D 2024</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <style type="text/css">
        img {
            max-width: 100%;
            width: 100%;
            vertical-align: middle;
        }
        @font-face {
         font-family:avenir;
         src: url('{{font/avenir-regular.otf}}') format('opentype');;
}
@font-face {
         font-family:juana;
         src: url(font/juana-bold.otf);
}

h1,h2,h3,h4,h5,h6,th{
    font-family:juana
}
p,a,td{
    font-family:avenir
}

        @page {
            size: A4;
            margin: 0;
            /* Set the margin for each page */
            padding: 0;
        }

        body {
            padding: 0;
            /* Set the padding for the content area */
            margin: 0;
            /* Optional: Remove default body margin */
            /* Additional styles for your content */
        }
    </style>
</head>

<body>
    <!-- <a href="/generate-pdf">Convert PDF </a> -->
    <div id="page1-div"   style="position:relative;max-width:1215px;max-height:100%;height:2160px;margin:0 auto;background-image:url('images/target001.png');background-position:center;background-size:cover">
  
        <p style="position:absolute;top:629px;left:174px;white-space:nowrap" class="ft10">
            Premium&#160;Group&#160;Journeys</p>
        <p style="position:absolute;top:632px;left:753px;white-space:nowrap" class="ft11">5&#160;Nights&#160;6&#160;Days
        </p>
        <!-- <p style="position:absolute;top:41px;left:560px;white-space:nowrap" class="ft12">waari</p> -->
        <img src="images/logo.png" alt="logo"
            style="position:absolute;top:41px;left:560px;white-space:nowrap;max-width: 100%; width: 100px;">
        <p style="position:absolute;top:296px;left:354px;white-space:nowrap" class="ft13">Kerala</p>
        <p style="position:absolute;top:216px;left:364px;white-space:nowrap" class="ft14">Cultural</p>
        <p style="position:absolute;top:508px;left:229px;white-space:nowrap" class="ft15">
            <i>Munnar&#160;|&#160;Alleppey&#160;|&#160;&#160;Thekkady&#160;|&#160;Cochin</i>
        </p>
        <p style="position:absolute;top:771px;left:389px;white-space:nowrap" class="ft16">3&#160;Unique&#160;Experiences
        </p>
    </div>

    <div>
        <div id="page2-div" style="position:relative;max-width:1215px;max-height:100%;margin:0 auto;">

            <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
                <tr>
                    <td>
                        <img src="images/target002.png" alt="background image" style="height: 100%;object-fit:cover" />
                    </td>
                </tr>

            </table>
        </div>
    </div>


    <div id="page3-div" style="position:relative;max-width:1215px;max-height:100%;margin:0 auto;">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
            <tr>
                <td>
                    <img src="images/target003.png" alt="background image" style="height: 100%;object-fit:cover" />
                </td>
            </tr>

        </table>
    </div>
    <div id="page4-div" style="position:relative;max-width:1215px;max-height:100%;margin:0 auto;">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
            <tr>
                <td>
                    <img src="images/target004.png" alt="background image" style="height: 100%;object-fit:cover" />
                </td>
            </tr>

        </table>
    </div>
    <div id="page5-div" style="position:relative;max-width:1215px;max-height:100%;margin:0 auto;">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
            <tr>
                <td>
                    <img src="images/target005.png" alt="background image" style="height: 100%;object-fit:cover" />
                </td>
            </tr>

        </table>
    </div>


    <div id="page6-div" style="position:relative;max-width:1215px;max-height:100%;height:2160px;margin:0 auto;background-image:url('images/target015.png');background-position:center;background-size:cover">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
            <tr>
                <td style="position:relative;width:100%">
                    <img src="images/itneray1.jpg" alt="background image" style="height: 770px;object-fit:cover;width:100%" />
                    <img src="images/mainlogo.png" alt="background image"
                        style="position:absolute;top: 20px;left: 41%;z-index: 2;width: 14%;" />
                    <h2
                        style="font-size:80px; color: #d1a550;position:absolute;top: 559px;left:96px;white-space:nowrap;margin:0">
                        Day2</h2>
                    <p style="position:absolute;top: 611px; left: 97px;white-space: nowrap;font-size: 50px;  color: #ffffff;"
                        class="ft71">Munnar&nbsp;local&nbsp;sightseeing</p>
                </td>
            </tr>
    </table>
    <table border="0" cellspacing="0" cellpadding="0" style="width:100%;padding: 44px  50px;">
            <tr>
                <td style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 10px;font-weight:600;width:100%">
                    After breakfast proceed to Vaikom for a half day Village Cultural Tour
                </td>
            </tr>
            <tr>
                <td style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 10px;font-weight:600;width:100%">
                    <span>Unique Experience</span>
                    During the cultural tour, you will get
                    to experience the lifestyle of the local community
                    through activities like:
                </td>
            </tr>
            <tr style="display: grid; grid-template-columns: 50% 50%;">
                <td style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 10px;font-weight:600;width:100%">
                    <ul>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 2px;font-weight:600;">Shikara Ride</li>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 2px;font-weight:600;">Coconut leaf weaving</li>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 2px;font-weight:600;">Selfie from a coconut tree</li>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 2px;font-weight:600;">Toddy Tapping
                        </li>
                    </ul>
                </td>
                <td style="font-size: 38px; line-height: 48px;  color: #000000;">
                    <ul>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;">Coir Making</li>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;">Screw Pine weaving</li>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;">Net Fishing</li>

                    </ul>
                </td>
            </tr>
            <tr>
                <td style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 10px;font-weight:600;width:100%">
                    <span>Unique Experience</span>
                    After that we shall enjoy authentic Keralan Thali meal known as Sadya
                </td>
            </tr>
            <tr>
                <td style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 10px;font-weight:600;width:100%">
                    Later proceed to Cochin
                </td>
            </tr>
            <tr style="display: grid; grid-template-columns: 50% 50%;">
                <td style="font-size: 38px; line-height: 48px;  color: #000000;">
                    <div>
                        <ul style="list-style:none">
                            <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;margin-bottom:15px">
                                <h3 style="font-size:30px;color: #014058;margin:0;font-weight:500">Meals</h3>
                                <p  style="font-size:20px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;margin:0">Breakfast, Lunch and Dinner</p>
                            </li>
                            <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;">
                            <h3 style="font-size:30px;color: #014058;margin:0;font-weight:500">Overnight:</h3>
                            <p  style="font-size: 20px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;margin:0"> Stay at Coching</p>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div>
                        <img src="images/Capture.png" alt="background image" style="height: 100%;object-fit:cover" />
                    </div>
                </td>
            </tr>

        </table>
    </div>

    <div id="page7-div" style="position:relative;max-width:1215px;max-height:100%;height:2160px;margin:0 auto;background-image:url('images/target015.png');background-position:center;background-size:cover">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
            <tr>
                <td style="position:relative;width:100%">
                    <img src="images/food.jpg" alt="background image" style="height: 770px;object-fit:cover;width:100%" />
                    <img src="images/mainlogo.png" alt="background image"
                        style="position:absolute;top: 20px;left: 41%;z-index: 2;width: 14%;" />
                    <h2
                        style="font-size:80px; color: #d1a550;position:absolute;top: 559px;left:96px;white-space:nowrap;margin:0">
                        Day 3</h2>
                    <p style="position:absolute;top: 611px; left: 97px;white-space: nowrap;font-size: 50px;  color: #ffffff;"
                        class="ft71">Munnar&nbsp;local&nbsp;sightseeing</p>
                </td>
            </tr>
    </table>
    <table border="0" cellspacing="0" cellpadding="0" style="width:100%;padding: 44px  50px;">
            <tr>
                <td style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 10px;font-weight:600;width:100%">
                After breakfast proceed to Vaikom for a half day Village Cultural Tour

                </td>
            </tr>
            <tr>
                <td style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 10px;font-weight:600;width:100%">
                    <span style="background:#d2a551;padding:5px;color:#fff">Unique Experience</span>
                    During the cultural tour, you will get
to experience the lifestyle of the local community
through activities like:
                </td>
            </tr>
            <tr style="display: grid; grid-template-columns: 50% 50%;">
                <td style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 10px;font-weight:600;width:100%">
                    <ul>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 2px;font-weight:600;">Shikara Ride</li>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 2px;font-weight:600;">Coconut leaf weaving</li>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 2px;font-weight:600;">Selfie from a coconut tree</li>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 2px;font-weight:600;">Toddy Tapping
                        </li>
                    </ul>
                </td>
                <td style="font-size: 38px; line-height: 48px;  color: #000000;">
                    <ul>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;">Coir Making</li>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;">Screw Pine weaving</li>
                        <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;">Net Fishing</li>

                    </ul>
                </td>
            </tr>
            <tr>
                <td style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 10px;font-weight:600;width:100%">
                    <span style="background:#d2a551;padding:5px;color:#fff">Unique Experience</span>
                    After that we shall enjoy authentic Keralan Thali meal known as Sadya
                </td>
            </tr>
            <tr>
                <td style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom: 10px;font-weight:600;width:100%">
                    Later proceed to Cochin
                </td>
            </tr>
            <tr style="display: grid; grid-template-columns: 50% 50%;">
                <td style="font-size: 38px; line-height: 48px;  color: #000000;">
                    <div>
                        <ul style="list-style:none">
                            <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;margin-bottom:15px">
                                <h3 style="font-size:30px;color: #014058;margin:0;font-weight:500">Meals</h3>
                                <p  style="font-size:20px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;margin:0">Breakfast, Lunch and Dinner</p>
                            </li>
                            <li style="font-size: 30px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;">
                            <h3 style="font-size:30px;color: #014058;margin:0;font-weight:500">Overnight:</h3>
                            <p  style="font-size: 20px;line-height: 48px;color: #000000;padding-bottom:2px;font-weight:600;margin:0"> Stay at Coching</p>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div>
                        <img src="images/Capture.png" alt="background image" style="height: 100%;object-fit:cover" />
                    </div>
                </td>
            </tr>

        </table>
    </div>


    <div id="page8-div" style="position:relative;max-width:1215px;max-height:100%;margin:0 auto;">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
            <tr>
                <td>
                    <img src="images/target008.png" alt="background image" style="height: 100%;object-fit:cover" />
                </td>
            </tr>
        </table>
    </div>
 

    <div id="page9-div"
        style="position:relative;max-width:1215px;max-height:100%;height:2160px;margin:0 auto;background-image:url('images/target015.png');background-position:center;background-size:cover">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;padding-top:50px;padding-left:75px">

        </table>
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;padding-left:75px">
            <tr>
                <td>
                    <h2 style=" font-size:50px; color: #014058; margin: 0 0 12px;font-weight:400">
                        Certifications & Memberships:</h2>
                </td>
            </tr>
            <tr style="display:grid;  grid-template-columns: 33.33% 33.33% 33.33%;">
                <td style="padding:20px">
                    <img src="images/logo16.png" alt="background image"
                        style="height: 100%;width:100%; object-fit:cover" />
                </td>
                <td style="padding:20px">
                    <img src="images/logo11.png" alt="background image"
                        style="height: 100%;width:100%;object-fit:cover" />
                </td>

                <td style="padding:20px">
                    <img src="images/logo15.png" alt="background image"
                        style="height: 100%;width:100%;object-fit:cover" />
                </td>
            </tr>
            <tr style="display:grid; grid-template-columns: 33.33% 33.33% 33.33%;">
                <td style="padding:20px">
                    <img src="images/logo13.png" alt="background image"
                        style="height: 100%;width:100%;object-fit:cover" />
                </td>
                <td style="padding:20px">
                    <img src="images/logo14.png" alt="background image"
                        style="height: 100%;width:100%;object-fit:cover" />
                </td>

                <td style="padding:20px">
                    <img src="images/logo12.jpg" alt="background image"
                        style="height: 100%;width:100%;object-fit:cover" />
                </td>
            </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;padding-top:50px;padding-left:75px">
            <tr>
                <td style="width:15%">
                    <h2 style=" font-size:50px; color: #014058; margin: 0 0 12px;font-weight:400">
                        Journey Pricing</h2>
                </td>

                <td style="width:30%">
                    <h2 style=" font-size:20px; color: #014058; margin: 0 0 12px;font-weight:400">02
                        Feb 2024 | Ex Mumbai</h2>
                </td>
            </tr>
        </table>
        <table cellspacing="0" cellpadding="0" style="width:80%;border:2px solid #024059;margin:10px auto">
            <thead style="background-color:#024059">
            <tr style="display: grid; grid-template-columns: 50% 50%;">
                    <th
                        style=" font-size: 25px;font-weight:300; color: #ffffff;padding:10px;text-align:left">
                        Room Sharing</th>
                    <th
                        style=" font-size: 25px;font-weight:300;  color: #ffffff;padding:10px;text-align:left">
                        Price</th>
                </tr>
            </thead>
            <tbody>
                <tr style="display: grid; grid-template-columns: 50% 50%;">
                <td style="padding:10px;border:2px solid #024059;"></td>
                    <td style="padding:10px;border:2px solid #024059;"></td>
                </tr>
                <tr style="display: grid; grid-template-columns: 50% 50%;">
                <td style="padding:10px;border:2px solid #024059;"></td>
                    <td style="padding:10px;border:2px solid #024059;"></td>
                </tr>
                <tr style="display: grid; grid-template-columns: 50% 50%;">
                <td style="padding:10px;border:2px solid #024059;"></td>
                    <td style="padding:10px;border:2px solid #024059;"></td>
                </tr>
                <tr style="display: grid; grid-template-columns: 50% 50%;">
                <td style="padding:10px;border:2px solid #024059;"></td>
                    <td style="padding:10px;border:2px solid #024059;"></td>
                </tr>
                <tr style="display: grid; grid-template-columns: 50% 50%;">
                <td style="padding:10px;border:2px solid #024059;"></td>
                    <td style="padding:10px;border:2px solid #024059;"></td>
                </tr>
                 <tr style="display: grid; grid-template-columns: 50% 50%;">
                <td style="padding:10px;border:2px solid #024059;"></td>
                    <td style="padding:10px;border:2px solid #024059;"></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div id="page10-div"
        style="position:relative;max-width:1215px;max-height:100%;height:2160px;margin:0 auto;background-image:url('images/target010.png');background-position:center;background-size:cover">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;padding-top:50px;padding-left:75px">
            <tr>
                <td>
                    <h2 style="font-size:45px;color: #d1a550;    margin: 0 0 12px;;font-weight:400">
                        Inclusions:</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff; margin: 0 0 6px;"
                        class="ft102">Travel by comfortable A/C cars, tempo travellers, mini buses or<br>big buses
                        depending on respective tour group size</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Accommodation in comfortable hotels on twin/triple/single sharing basis</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">All Meals – Morning tea/coffee,breakfast,lunch,evening<br>tea/coffee with&
                        cookies/snacks, dinner </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">2 Litre water bottle per person per day</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Hotel restaurants tips</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Permits/entrance fees of all sightseeing place which is to be<br>visited from
                        inside</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Accompanied local guide/s& services wherever require</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Experienced Tour Manager service from Day 01 meeting point<br>till the dropping
                        point on last day</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="font-size:45px;color: #d1a550;font-weight:400; margin: 0 0 12px">
                        Exclusions:</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">To and fro Air or Rail transport fare </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Government of India Goods &amp; Services Tax (GST) of 5%</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Any new tax/es levied by the central or state government</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Cost of Insurance</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Any upgradation in vehicle, hotel or hotel room category</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Cost of Pre/Post tour hotel accommodation</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Any extra expense incurred due to any forced majeure situation<br>before the tour
                        departure or during the tour, such as change in<br>airline schedule, route or operation,
                        changing the tour date,<br>change in hotel etc.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Personal expense like porterage, laundry, telephone, shopping,<br>alcoholic
                        beverages, extra mineral water or food which is not a<br>part of group’s set meal menu</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Any extra cost incurred due to illness, accident, hospitalization<br>or any
                        personal emergency</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Cost of any optional activity or service</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:20px;line-height:28px;color: #ffffff;  margin: 0 0 6px;"
                        class="ft102">Anything specifically not mentioned in the ‘tour price includes’<br>column</p>
                </td>
            </tr>
        </table>

    </div>
    <div id="page11-div" style="position:relative;max-width:1215px;max-height:100%;margin:0 auto;">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
            <tr>
                <td>
                    <img src="images/target011.png" alt="background image" style="height: 100%;object-fit:cover" />
                </td>
            </tr>
        </table>
    </div>
    <div id="page12-div" style="position:relative;max-width:1215px;max-height:100%;margin:0 auto;">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
            <tr>
                <td>
                    <img src="images/target012.png" alt="background image" style="height: 100%;object-fit:cover" />
                </td>
            </tr>
        </table>
    </div>
    <div id="page13-div" style="position:relative;max-width:1215px;max-height:100%;margin:0 auto;">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
            <tr>
                <td>
                    <img src="images/target013.png" alt="background image" style="height: 100%;object-fit:cover" />
                </td>
            </tr>
        </table>
    </div>
</body>

</html>