<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Predeparture</title>
    <style type="text/css">
        @font-face {
            font-family: Cambria;
            /* src: url(../font/Calibri-Font-Family/Cambria-Font.ttf); */
            src: url("{{ storage_path('fonts/Calibri-Font-Family/Cambria-Font.ttf') }}") format("truetype");


        }

        /* @font-face {
            font-family: Cambria;
            src: url(../public/font/Cambria.otf);
        } */


        .flight-class th,
        .flight-class td {
            border: 1px solid #000;
            padding: 8px 5px;
            width: 25%;
            text-align: left;
        }

        img {
            max-width: 100%;
            vertical-align: middle
        }

        .logo-table td {
            width: 50%;
            padding: 10px
        }

        .logo-table {
            border-bottom: 1px solid #000
        }

        p {
            color: #000;
            margin-top: 0.1em;
            margin-bottom: 0.1em;
            font-size: 16px;
            letter-spacing: 0.5px;
            line-height: 1.25;
            font-family: 'Cambria';
        }

        li,
        td {

            font-size: 16px;
            letter-spacing: 0.5px;
            font-family: 'Cambria';
            color: #000;
        }

        th {
            font-family: 'Cambria';
        }

        li {
            padding: 2px 0;
        }

        * {
            margin: 0;
            padding: 0;
        }

        .container {
            margin: 20px 20px  20px 20px !important;
            padding: 40px 40px !important;
            border: 2px solid black !important;
            box-sizing: border-box;
            max-width: 100%;
            display: block;
            font-family: 'Cambria';
        }

        /* .page-container {
        position: absolute; top: 0px bottom: 0px; left: 0px; right: 0px; width: 100%; height: 100%; overflow: hidden;
        border:2px solid black; margin: 20px;width:100%

    }  */
        .page-container {
            max-width: 100%;
            display: block;
            /* padding-top: 20px;
            padding-bottom: 20px; */
            font-family: 'Cambria';
            margin-left: auto;
            margin-right: auto;
            width: 90%;
         
        }

        ul {
            padding-left: 2em;
        }

        .flight-class {
            border: 1px solid #000;
        }

        .page-break {
            page-break-after: always;
        }

        .company{
            padding-bottom: 50px !important;
            font-weight: bold;
        }
        .address{
            margin: 50px 50px;
        }

        @font-face {
            font-family: Cambria;
            /* src: url(../font/Cambria-regular.otf); */
            src: url("{{ storage_path('fonts/Cambria-regular.otf') }}") format("truetype");

        }
    </style>
</head>

<body>
<div  style="padding-top:2px;">
    <div id="page1-div" class="container" style="padding-top:20px; ">

        <table class="logo-table"  cellspacing="0" cellpadding="0" style="width:100%">
            <tbody>
                <tr>
                    <td><img src="{{ $logopre }}" style="width:30%"></td>
                    <td style="text-align:right">
                        <div>
                        <p class="company">Musmade Hospitality Pvt.
                                Ltd
    </p>
                            <p class="address" style="margin: 16px 16px ; line-height: 1.15; font-size: 14px; ">Ground floor - 7, LaCasita Complex, <br />
                                Opposite Ravet Police Station, <br />
                                Sector – 32A, Ravet, Pune – 412101<br /></p>
                            <a href="www.waari.in"  style="margin-top: 20px">www.waari.in </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;margin-top:10px">
            <tr>
                <td style="text-align:left; padding: 8px 0; font-size: 14px;" >Dear Guest, </td>
            </tr>
            <tr>
                <td style="text-align:left;padding: 8px 0px ; font-size: 14px;" >Namaste! </td>
            </tr>
            <tr>
                <td style="text-align:left;padding: 8px 0">
                    <p style="font-size: 14px;">Your <span style="text-transform: capitalize;"><b>{{ $tailormadesdata->tourName }}</b></span> journey is
                        now all set for
                        departure.
                        Kindly go through this document for important information about your journey.</p>
                    <ul style="margin: 6px 0; ">
                        <li style=" padding: 8px 0; font-size: 14px;">Journey Itinerary - Attached herewith</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="text-align:left;padding: 6px 0px; font-size: 14px;"><b>Tour Director </b> -
                    {{$tailormadesdata->tourManager}}({{$tailormadesdata->managerNo}})
                    </p>
                    
                </td>
            </tr>
            <tr>
                <td style="text-align:left;padding: 8px 0px; font-size: 14px;"><b>Guest relation</b> -
                    Emergency Contact Number in Office - +91 9607788997
                    </p>
                </td>
            </tr>

            <!-- <tr>
                <td style="text-align:left;padding: 2px 0 20px 0px; ">
                    <p><b>Flights:</b> – </p>
                    <ul>
                        <li>The flight and train details are given below. Please go through it. </li>

                    </ul>
                </td>
            </tr> -->
        </table>
   
    
 <!-- page 2 -->

    <div  >
    <table style="width:100%">
            <tr>
                <th style="text-align:left; font-size:14px; padding-bottom:4px; padding-top:10px">ITINERARY:</th>

            </tr>
        </table>
        @foreach($detailedItinerary as $index => $itinerary)
        <div style="margin-bottom:0px">
       
         
                <div>
                <ul>

                    <li style="text-align:left;padding-bottom:2px;font-size:14px"><span><b>DAY {{ $index + 1 }}</b></span> :
                        <span style="text-transform: capitalize;">{{ $itinerary->title}}</span> :
                        <span>{{ $itinerary->distance }} KM |</span>
                        <span>{{ $itinerary->approxTravelTime }} Hrs</span>

                        </li>
                      
                     
                <p style="padding:0px 0px; font-size:14px;" >
                    {!! htmlspecialchars_decode(html_entity_decode($itinerary->description)) !!}
                <p>
         
            
            <p  style="padding:0px 0px; font-size:14px">
                @php
                $mealTypes = json_decode($itinerary->mealTypeId);
                echo implode(', ', $mealTypes);
                @endphp
                        </p>
            </ul>      
        </div>
       
                        </div>
           
      
        @endforeach
    </div>

  

    <div style="width:100%" >
        <table style="width:100%">
            <tr>
                <th style="text-align:left; font-size:14px; padding-bottom:10px">HOTELS:</th>

            </tr>
        </table>

        <table class="flight-class" cellspacing="0" cellpadding="0" style="margin-bottom:4px; font-size:14px; width:100%">

            <thead>
                <tr>
                    <th  style="font-size:14px;">Type</th>
                    <th  style="font-size:14px;">Destination</th>
                    <th  style="font-size:14px;">Hotel Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach($tourPrice as $index => $tour)
                <tr  style="font-size:14px;">
                    @if($tour->type==0)
                    <td  style="font-size:14px;">Deluxe</td>
                    @elseif($tour->type==1)
                    <td  style="font-size:14px;">Super Deluxe</td>
                    @elseif($tour->type==2)
                    <td  style="font-size:14px;">Premium</td>
                    @endif
                    <td  style="font-size:14px;">{{ $tour->destination }}</td>
                    <td  style="font-size:14px;">{{ $tour->hotelName }}</td>
                </tr>
                @endforeach
            </tbody>
        </table>

        <div>
            <ul >
                <li style="font-size:14px;">Standard Check-in time is 02:00 PM and check-out time is 10 AM.</li>
                <li style="font-size:14px;">Do not keep your money or valuables in the hotel room or in your locked bag in the room,
                    always carry it with you.</li>
                <li style="font-size:14px;">Keep hotel addresses, tour director’s mobile number along with the Waari Emergency
                    contact
                    number with you at all times.</li>
                <li style="font-size:14px;">Minibar and pay (adult-18+) channels in the hotel room are chargeable.</li>
                <li style="font-size:14px;">Kindly use hotel accessories with care. Any damages done will be chargeable to you.</li>
                <li style="font-size:14px;">It is advisable to be in decent clothes at the time of any group activity or at
                    mealtimes.
                </li>
                <li style="font-size:14px;">Under unavoidable circumstances hotels are subject to change, in such case a substitute
                    hotel of similar category will be provided.</li>

            </ul>
        </div>

        <table style="margin:2px 0;width:100%">
            <tr>
                <th style="text-align:left; font-size:14px;" >TRANSFERS:</th>

            </tr>
        </table>
        <!-- <table style="width:100%">
            <tr>
                <td> -->
        <div>
            <ul>
                <li style="font-size:14px;">Travel by small cars or Tempo Travellers or Mini Buses or big buses depending on the
                    respective journey group size.</li>
                <li style="font-size:14px;">Guests who have opted and paid for a separate vehicle for sole use or upgraded the
                    vehicle
                    type or requested for tempo traveller/mini coach/big coach will be provided with the
                    same.
                </li>
                <li style="font-size:14px;">We request Guests to follow these guidelines for a smooth journey:</li>
                <li style="font-size:14px;">It is mandatory to wear a mask at all times.</li>
                <li style="font-size:14px;">There is a strict no smoking, no alcohol and no eating policy inside the vehicle.</li>
                <li style="font-size:14px;">Children should always be seated in the rear and not at the front seat.</li>
                <li style="font-size:14px;">Avoid discussing topics like religion or politics, which may lead to a debate. Talk
                    softly
                    with co-travellers and respect privacy.</li>
                    <li style="font-size:14px;">Kindly treat your Vehicle drivers with compassion and respect.</li>
                   
                  
</ul>
</div>
      
        <!-- </td>
            </tr>
        </table> -->
    </div>
    </div>

    <!-- page5  -->
    <div  style="padding-top:2px;">
    <div id="page2-div" class="container">
    
        <!-- <table style="width:100%">
            <tr>
                <td> -->
        <div>
            <ul style="width:100%">
            <li style="font-size:14px;">Guests who suffer from motion sickness should carry required medication.</li>
            <li style="font-size:14px;">In Hilly Areas, AC will not be working.</li>
                <li style="font-size:14px;">For some destinations like Leh-Ladakh and Sikkim-Darjeeling, the Vehicle is not fixed for each day.
                    Everyday different vehicles will used for sightseeing.</li>
                <li style="font-size:14px;">Seat arrangements on a First Come First Serve Basis.</li>

            </ul>
        </div>
        <table style="margin:0px 0px;width:100%">
            <tr>
                <th style="text-align:left;font-size:14px;">Sightseeing:</th>

            </tr>
        </table>

        <div>
            <ul style="padding-bottom:0px; width:100%">
                <li style="font-size:14px">Let’s respect everyone’s time. Be punctual to ensure that the day's schedule is followed
                    as
                    per the itinerary.</li>
                <li style="font-size:14px">For ‘hands-free’ comfortable travel, carry a small cross-body shoulder bag/ sling or
                    back
                    pack with water bottle, cap, hand sanitizer and face mask with you for sightseeing.</li>
                <li style="font-size:14px">Follow the social distancing, hygiene norms and regulations laid down at the
                    destinations.
                </li>

            </ul>
        </div>

        <table style="margin:0px 0px;width:100%">
            <tr>
                <th style="text-align:left; font-size:14px">Shopping:</th>
            </tr>
        </table>

        <div>
            <ul style="padding-bottom:0px;width:100%; font-size:14px">
                <li> {{$tailormadesdata->shopping}}</li>
            </ul>
        </div>

        <table style="margin:0px 0px;width:100%">
            <tr>
                <th style="text-align:left; font-size:14px">Weather:</th>

            </tr>
        </table>

        <div>
            <ul style="padding-bottom:0px;width:100%">
                <li> {{$tailormadesdata->weather}}</li>
            </ul>
        </div>
        <table style="margin:0px 0px;width:100%">
            <tr>
                <th style="text-align:left; font-size:14px;margin:0px 0px 0px">Things to carry:</th>

            </tr>
        </table>

        <div>
            <ul style="padding-bottom:0px;width:100%">
                <li style="font-size:14px">For week-long journeys, we suggest 2-3 jeans / trousers , 7-8 tops / shirts / kurta, hat
                    and
                    sunglasses, thermals, jackets, woollen winter gear.</li>
                <li style="font-size:14px">For Temple visits dress modestly and avoid sleeveless cloths and short/skirts.
                    Hats/caps,
                    T-shirts, slippers, short skirts are not allowed.</li>
                <li style="font-size:14px">Comfortable sports shoes for daily use & a pair of slippers if needed</li>
                <li style="font-size:14px">Sweaters/Sweatshirts/Hoodies are recommended for flight journey.</li>
                <li style="font-size:14px">Carry sufficient face masks, hand sanitizer, hand gloves, hand wash and toiletries.</li>
                <li style="font-size:14px">Carry your medicines with your doctor’s valid prescription.</li>
                <li style="font-size:14px">Carry sufficient currency along with your credit/debit cards for any last-minute
                    requirements.</li>
                <li style="font-size:14px">Small bottles of liquid or lotions in your handbag should be kept in a transparent
                    zip-lock
                    bag.</li>
                <li style="font-size:14px">Any liquid or lotion bottles of more than 50 ml as well as items prohibited in carry-on
                    handbag by airline must be kept in your check-in bag.</li>
                <li style="font-size:14px">It is prohibited to carry items like sharp items, guns, pistols, ammunition, drugs,
                    explosives, fireworks etc. in the aircraft.</li>
                <li style="font-size:14px">Mobile battery or power bank must be carried with you in your handbag/purse and not in
                    check-in bag.</li>
            </ul>
        </div>

        <div>
            <table class="flight-class" cellspacing="0" style="width:100%;margin-bottom:4px 0px;margin-top:4px;border:1px solid #000">
                <thead>
                    <tr>
                        <th style="text-align:center; font-size:14px">Hand Bag</th>
                        <th style="text-align:center; font-size:14px">Check-in Bag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-size:14px">Medicines (Pills, Tablets) with prescription </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="font-size:14px">Syrup (any Liquid) (upto 100ml) </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="font-size:14px">Power Bank, Mobile Charger, </td>
                        <td>DSLR</td>
                    </tr>
                    <tr>
                        <td style="font-size:14px">Batteries are recommended to be removed and carried in the hand baggage. </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="font-size:14px">Liquid cosmetics Should be carried in one plastic transparent zip-lock bag. The bag contains
                            up
                            to
                            100 ml of each liquid cosmetic. </td>
                        <td style="font-size:14px">Hair Dryer, Straightener, </td>
                    </tr>
                    <tr>
                        <td style="font-size:14px">Razors that have the blade set into a plastic moulding are permitted in carry-on baggage,
                            Shaving
                            brush </td>
                        <td style="border-bottom:1px solid #000; font-size:14px">Electric razors, Sharp things, Scissors </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <table style="margin:4px 0px;width:100%">
            <tr>
                <th style="text-align:left; font-size:14px">Mandatory Documents to carry:</th>

            </tr>
        </table>
        <!-- <table style="width:100%">
            <tr>
                <td> -->
        <div>
            <ul style="width:100%">
                <li style="font-size:14px">ADULT: Aadhaar Card (Mandatory) + Passport – Back & front</li>
                <li style="font-size:14px">CHILD: Aadhaar Card (Mandatory) + Passport/School ID – Back & front</li>
                <li style="font-size:14px">INFANT: Aadhaar Card (Mandatory) + Birth Certificate – Back & front</li>
                <li style="font-size:14px">ID card, ID card type and ID card number is mandatory at time of booking, kindly carry
                    the
                    same ID card on journey.</li>

            </ul>
        <!-- </td>
            </tr>
        </table> -->
    </div>
    <table style="margin:4px 0px;width:100%">
            <tr>
                <th style="text-align:left; font-size:14px"> Airport Formalities:</th>

            </tr>
        </table>
        <div>
            <ul style="width:100%">
                <li style="font-size:14px">To avoid any last-minute hassle, be at the airport 3 hours before the flight departure
                    time.
                </li>
                <li style="font-size:14px">Air ticket & photo ID to be kept handy while entering the airport.</li>
                <li style="font-size:14px">Show Air ticket copy, boarding pass and original Photo ID at the main entrance.</li>
                <li style="font-size:14px">Report to the Check-in counter, complete Check-in formalities and drop your check-in
                    baggage.</li>
                    </ul>
                    </div>
    </div>
    @if (count($flightDetails) > 0)

    <!-- page6 -->
    <div  style="padding-top:2px;">
    <div id="page3-div" class="container">
   
        <!-- <table style="width:100%">
            <tr>
                <td> -->
        <div>
            <ul style="width:100%">
                <li style="font-size:14px">Ensure that you collect the baggage receipt, boarding card and your Photo ID from the
                    check-in counter.</li>
                <li style="font-size:14px">Complete the Security Check formalities.</li>
                <li style="font-size:14px">Be present at the boarding gate one hour prior to the flight departure time.</li>
                <li style="font-size:14px">Upon arrival at destination airport, kindly proceed to baggage collection counter.
                    Collect
                    your bags and proceed to the exit gate. </li>
                <li style="font-size:14px">The journey manager will meet you outside the exit gate at the airport.</li>

            </ul>
        </div>
        @endif
        @if (count($trainDetails) > 0)
        <table style="margin:4px 0px;width:100%">
            <tr>
                <th style="text-align:left; font-size:14px"> Train Formalities:</th>

            </tr>
        </table>
        <!-- <table style="width:100%">
            <tr>
                <td> -->
        <div>
            <ul style="width:100%">
                <li style="font-size:14px">To avoid any last minute hassle, be at the railway station 2 hours before the train departure
                    time.
                </li>
                <li style="font-size:14px">Train ticket & original Photo ID to be kept handy while travelling.</li>
            </ul>
        </div>

        <table style="margin:4px 0px;width:100%">
            <tr>
                <th style="text-align:left; font-size:14px">Carry money on journey:</th>

            </tr>
        </table>

        <div>
            <ul style="width:100%">
                <li style="font-size:14px">Waari believes in an all-inclusive journey price policy. Your journey price includes
                    return
                    economy class air ticket, hotel accommodation, meals - breakfast, lunch & dinner as per
                    the
                    itinerary, sightseeing, transfers, entry tickets, journey manager services for the
                    journey,
                    guide charges, guide tips, driver tips etc.</li>
                <li style="font-size:14px">Carry sufficient money if you wish to enjoy any optional sightseeing, any local
                    delicacies
                    or shopping on journey.</li>
                <li style="font-size:14px">Digital payment is accepted in most places, which reduces the risk of carrying hard
                    cash.
                    You can opt for same.</li>
                <li style="font-size:14px">Kindly carry extra money with you in digital form or cash for any emergency in
                    unforeseen
                    circumstances.</li>


            </ul>
        </div>
        <!-- </td>
            </tr>
        </table> -->
        <table style="margin:4px 0px;width:100%">
            <tr>
                <th style="text-align:left; font-size:14px">Disclaimer:</th>

            </tr>
        </table>
        <table style="width:100%">
            
            <tr>
                <td style="text-align:left;">
                    <!-- <p style="font-size:14px; margin-bottom: 30px"><b>Disclaimer:</b> -->
                    <ul style="padding-bottom: 20px">
                        <li style="font-size:14px">
                            At the time of journey launch, we have taken all efforts to
                            provide accurate journey information, itinerary and price. However, under unavoidable
                            circumstances
                            or force majeure condition, journey arrangements are subject to change without any prior
                            notice.
                        </li>
                        <li style="font-size:14px">
                            Catering kitchen meals will be provided only in Spiritual Path and Senior Citizens' tours, with group size more than 20 guests. For groups less than 20, hotel meals will be served.
                        </li>
                    </ul>
                </p>
                </td>

            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <th style="text-align:left; margin-bottom: 30px">
                    <p style="font-size: 14px;">We wish you a Happy & Safe Journey. Come, Travel Explore and Inspire
                        yourself with Waari.in! </p>
                </th>

            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <th style="text-align:left;">
                    <p style="font-size: 14px;">Have a Wonderful Holiday!</p>
                </th>

            </tr>
        </table>
        <!-- </td>
            </tr>
        </table> -->
    </div>
    </div>
    @endif
      
        </div>
    </div>
  

   
   
</body>

</html>